--- 
title: Projects Of Dani.
---
<div class="card-container">
	<div class="projects-header">
		<div>
			<h1>Projects</h1>
			<p>Some of the things I've dabbled on.</p>
		</div>
	</div>
	<h2 class="project-category">
		<amp-img src="https://raw.githubusercontent.com/dandansoysauce/caltax-web/master/public/favicon.ico"
			width="30"
			height="30"
			alt="caltax app icon"
			style="vertical-align: middle;"></amp-img>
		<span style="vertical-align: middle;">Caltax App - Tax Calculator</span>
	</h2>
	<div class="project-box">
		<h6>
			<label>Flutter | </label>
			<label>Dart | </label>
			<label>Android</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote>
			Made with Flutter, this is the android app counterpart for the Caltax Web App. <br><br>
			<a href="https://github.com/dandansoysauce/caltax-app" target="_blank">
				<button type="button" class="pure-button">
					<span class="icon icon--github">{% include git.svg %}</span>
						Source
				</button>
			 </a>
		</blockquote>
		<a href='https://play.google.com/store/apps/details?id=com.daniona.caltax&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="200" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
	</div>
	<h2 class="project-category">
		<amp-img src="https://raw.githubusercontent.com/dandansoysauce/duckduckgo-cbang/master/app/images/icon-32.png"
			width="30"
			height="30"
			alt="cbang icon"
			style="vertical-align: middle;"></amp-img>
		<span style="vertical-align: middle;">DuckDuckGo !CBang Extension</span>
	</h2>
	<div class="project-box">
		<h6>
			<label>WebExtension | </label>
			<label>DuckDuckGo | </label>
			<label>Javascript</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote>
			DuckDuckGo !Bangs on your context menu. Customize and mark your bangs as favorite from thousands of premade 
			DuckDuckGo Bangs. <br><br>
			<a href="https://github.com/dandansoysauce/duckduckgo-cbang" target="_blank">
					<button type="button" class="pure-button">
						<span class="icon icon--github">{% include git.svg %}</span>
							Source
					</button>
			 </a>
			 <a href="https://addons.mozilla.org/en-US/firefox/addon/duckduckgo-bangs-right-click" target="_blank">
				<button type="button" class="pure-button">
					Get this for Firefox
				</button>
		 	</a>
		</blockquote>
	</div>
	<h2 class="project-category">
		<amp-img src="https://raw.githubusercontent.com/dandansoysauce/pall/master/build/icon-mini.png"
			width="30"
			height="30"
			alt="pall icon"
			style="vertical-align: middle;"></amp-img>
		<span style="vertical-align: middle;">Pall - Color Picker</span>
	</h2>
	<div class="project-box">
		<h6>
			<label>Electron | </label>
			<label>Color Picker | </label>
			<label>Javascript</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote>
			Pick a color. Anywhere. Open-source and cross-platform. Copies selected color to clipboard and saves it.
			Published to the Snap Store for Linux. <br><br>
			<a href="https://github.com/dandansoysauce/pall" target="_blank">
					<button type="button" class="pure-button">
						<span class="icon icon--github">{% include git.svg %}</span>
							Source
					</button>
			 </a>
		</blockquote>
		<a href="https://snapcraft.io/pall">
			<img alt="Get it from the Snap Store" src="https://snapcraft.io/static/images/badges/en/snap-store-black.svg" />
		</a>
	</div>
	<h2 class="project-category">
		<amp-img src="https://raw.githubusercontent.com/dandansoysauce/caltax-web/master/public/favicon.ico"
			width="30"
			height="30"
			alt="caltax icon"
			style="vertical-align: middle;"></amp-img>
		<span style="vertical-align: middle;">Caltax Web - Tax Calculator</span>
	</h2>
	<div class="project-box">
		<h6>
			<label>ReactJS | </label>
			<label>Material Design | </label>
			<label>Surge</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote>
			A simple web application that lets PH users calculate their taxes, social security, hdmf and philhealth.
			This also lets users peek at their take-home pay. <br><br>
			<a href="https://github.com/dandansoysauce/caltax-web" target="_blank">
				<button type="button" class="pure-button">
					<span class="icon icon--github">{% include git.svg %}</span>
						Source
				</button>
			</a>
			<a href="https://caltax-web.surge.sh" target="_blank">
				<button type="button" class="pure-button">
					Website
				</button>
			</a>
		</blockquote>
	</div>
	<h2 class="project-category">GimmeGifbar</h2>
	<div class="project-box">
		<h6>
			<label>Electron | </label>
			<label>Giphy-Api | </label>
			<label>Menubar | </label>
			<label>Javascript</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote>
			An open source, cross-platform desktop application that lets you search for a gif, copy its link or simply share it, right from the menubar.
			Using Electron framework, written in Javascript with Giphy-Api and Menubar modules. <br><br>
			<a href="https://github.com/dandansoysauce/gimmegifbar" target="_blank">
				<button type="button" class="pure-button">
					<span class="icon icon--github">{% include git.svg %}</span>
						Source
				</button>
			</a>
			<a href="https://github.com/dandansoysauce/gimmegifbar/releases" target="_blank">
				<button type="button" class="pure-button">
						Releases
				</button>
			</a>
		</blockquote>
	</div>
	<h2 class="project-category">Emgu CV Face Detection App for WPF</h2>
	<div class="project-box">
		<h6>
			<label>Emgu CV | </label>
			<label>C# | </label>
			<label>WPF | </label>
			<label>Material Design Toolkit | </label>
			<label>SQLite</label>
		</h6>
		<p><b>Description</b></p>
		<blockquote cite="emgufcr">
			 A simple Face Detection app for the WPF platform that aims to be a "base" app for any face detection
			 app you can think of. The app is written with MVVM pattern for scalability and maintainability, if ever
			 you want to scale it up.<br><br>
			 <a href="https://github.com/dandansoysauce/EmguFaceDetectionWPF" target="_blank">
					<button type="button" class="pure-button">
						<span class="icon icon--github">{% include git.svg %}</span>
							Source
					</button>
			 </a>
		</blockquote>
	</div>
</div>