<div class="navigation-bar">
  <div class="navbar-container">
    <a href="{{ site.baseurl }}/"><p class="navbar-brand">{{ site.name }}</p></a>
    <a class="page-link" href="{{ site.baseurl }}/about.html">About</a>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <amp-img src="{{ site.baseurl }}/images/potato_face.jpg" alt="That's supposed to be me"
        class="img-circle" height="80" width="80"></amp-img>
    </li>
    <li class="sidebar-brand">
      <a href="{{ site.baseurl }}/">
        <h1 class="brand">{{ site.name }}</h1>
      </a>
      <h3>{{ site.description }}</h3>
    </li>
    <div class="social-wrapper">
      <li>{% include twitter-box.html %}</li>
      <li>{% include linkedin-box.html %}</li>
      <li>{% include git.html %}</li>
    </div>
  </ul>
</div>
